<div *ngIf="loaded">
    <h2 class="title">{{ job.title }}</h2>
    <div class="job">
        <table class="table table-bordered">
            <tr>
                <th>Kategorija</th>
                <td>{{ job.category }}</td>
            </tr>
            <tr>
                <th>Tip</th>
                <td>{{ job.type }}</td>
            </tr>
            <tr>
                <th>Lokacija</th>
                <td>{{ job.location }}</td>
            </tr>
            <tr>
                <th>Zapošljava</th>
                <td>
                    <a [href]="job.link" target="_blank">{{ job.name }}</a>
                </td>
            </tr>
            <tr>
                <th>Prijava na</th>
                <td>{{ job.email }}</td>
            </tr>
            <tr>
                <th>Rok za prijavu</th>
                <td>{{ job.deadline | date: 'dd.MM.yyyy.'}}</td>
            </tr>
            <tr>
                <th>Kreiran</th>
                <td>{{ job.created | date: 'dd.MM.yyyy.'}}</td>
            </tr>
            <tr>
                <th>Broj pregleda</th>
                <td>{{ job.views }}</td>
            </tr>
        </table>
        <div [innerHTML]="job.description" class="description"></div>
    </div>
</div>
<app-spinner *ngIf="!loaded"></app-spinner>